body {
  margin: 0px;
  padding: 0px;
}
div.header {
  background: #aa00aa;
  margin: 0px;
  padding: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
}
ul {
  list-style: none;
}
ul.header {
  display: flex;
  color: white;
}
li {
  margin-right: 45px;
}
div.header a {
  text-decoration: none;
  color: white;
}